*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: none;
}

body{
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background:url(world.jpg); /* Add your background image path here */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form-container {
    background-color: rgba(34, 34, 34, 0.8); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    max-width: 400px;
    text-align: center;
}

.heading{
    text-transform: capitalize;
    text-align: center;
    font-size: 50px;
    font-weight: 800 ;
    margin-bottom: 30px;
    color: #fff;
}

input, .submit-btn{
    width: 100%;
    height: 35px;
    display: block;
    margin: 10px 0;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    color: floralwhite;
    padding: 15px;
    transition: .5s;
    text-transform: capitalize;
}

input::placeholder{
    color: rgb(255, 255, 255);
    font-weight: bold;
}

input:focus{
    background:black;
    color: rgb(252, 252, 252);
}

input:focus::placeholder{
    color: rgb(255, 255, 255);
}

.submit-btn{
    width: auto;
    padding: 0 20px;
    cursor: pointer;
    margin: 30px auto 0;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.3);
}

.submit-btn:hover{
    color: black;
    background: rgb(255, 255, 255)
}

.link{
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    color: lightblue;
    display: block;
    margin: 10px 0;
}

.link:hover{
    color: white;
}

.alert-box{
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 150px;
    max-width: 90%;
    width: auto;
    height: auto;
    padding: 10px;
    text-transform: capitalize;
    background: rgb(255, 255, 255);
    border: 10px solid rgb(255, 253, 253);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    text-align: center;
    transition: 1s;
}
